/server/node_modules
/server/package-lock.json
/server/.env
/server/dist
/server/Dockerfile
/server/.dockerignore

/client/node_modules
/client/package-lock.json
/client/Dockerfile
/client/build
/client/.env
/client/.dockerignore